

.scndSection, body {
    color: white;
    background-color: #141414;
  }
  .categories-section,
  .tags-section {
      color: white;
      background-color: #141414;
      padding: 15px; /* Adjust padding as needed */
      border-radius: 5px; /* Add rounded corners */
      margin-top: 10px; /* Add margin for separation */
  }

  .list-group-item {
      background-color: transparent; /* Remove default list item background color */
      border: none; /* Remove list item borders */
  }
  /* Custom CSS for white border */
.white-border {
    border: 1px solid white; /* Add a white border */
    background-color: #141414; /* Background color */
    color: white; /* Text color */
}
/* Change text color on hover */
.tags-section li:hover,
.categories-section li:hover,
.toggle-button:hover {
    color: #ffcc00;
    border: 1px solid #703BF7; /* Change the text color to your desired color */
    cursor: pointer; /* Change cursor to pointer to indicate interactivity */
}



.main-section{
    color: #141414;
    background-color: #c3c2c2;
}
.container {
    display: flex;
    width: 100%;
}

.mainBtnColor{
     background-color: #703BF7;
     color: #fff;
}


    .custom-file-input span {
        display: inline-block;
        padding-left: 10px;
        padding-top: 8px;
    }

    

.input-group-append {
    margin-left: -1px;
}
.btn-outline-secondary {
    border-color: #ced4da;
}



.wiki-image {
    width: 150px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    margin-right: 10px;
    border-radius: 5px;
    object-fit: cover; /* Ensures the image covers the area without distortion */
}

/* Responsive design - adjust as necessary */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    
}

