

.scndSection, body {
    color: white;
    background-color: #141414;
  }
.main-section{
    color: #141414;
    background-color: #c3c2c2;
}
.container {
    display: flex;
    width: 100%;
}

.mainBtnColor{
     background-color: #703BF7;
     color: #fff;
}

.tags-section, .categories-section {
    flex-basis: 20%;
    padding: 10px;
    border-right: 1px solid #ddd; 
    border-left: 1px solid #ddd;  
    margin-bottom: 20px;
    width: 250px;  
    margin-bottom: 20px;
}
.side-sections {
    margin-top: 20px;
}

.categories-section ul, .tags-section ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

    .custom-file-input {
        position: relative;
        width: 100%;
    }

    .custom-file-input input[type='file'] {
        width: 100%;
        height: 38px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor: pointer;
    }

    .custom-file-input label {
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px 10px;
        background-color: #f8f9fa;
        border: 1px solid #ced4da;
        cursor: pointer;
    }

    .custom-file-input span {
        display: inline-block;
        padding-left: 10px;
        padding-top: 8px;
    }

    

.input-group-append {
    margin-left: -1px;
}
.btn-outline-secondary {
    border-color: #ced4da;
}

.categories-section li, .tags-section li {
    flex: 0 0 50%; /* Each list item takes up 50% of the container width */
    box-sizing: border-box;
    padding: 5px; /* Add padding for spacing, adjust as needed */
}
 
.wiki-cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin-left: 50px;  
    margin-right: 50px;
}

.wiki-card {
    flex: 0 0 calc(50% - 20px); /* Adjusting the flex-basis */
    display: flex;
    background-color: #f3f3f3;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.wiki-card:hover {
    cursor: pointer;
}


.wiki-image {
    width: 150px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    margin-right: 10px;
    border-radius: 5px;
    object-fit: cover; /* Ensures the image covers the area without distortion */
}

/* Responsive design - adjust as necessary */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .wiki-card {
        flex-basis: 100%; /* Each card takes full width on smaller screens */
    }
}



/* *{
    text-decoration: none !important;
}

.custom-navbar {
    background-color: #1A1A1A;
}
.custom-section {
    color: #ffffff; 
}
.scndryBtnColor{
    background-color: #141414;
}

.customCard{
    background-color: #1A1A1A;
    color: #ffffff;
}
.scndText{
    color: #999999;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom left, #2A213F, transparent);
}
.fit-image {
    object-fit: cover; 
    width: 100%;
    height: 100%;
}
.card {
    border-radius: .7rem;
    align-items: flex-start;
  }
  .card-body{
    justify-content: flex-start;
  }

  .custom-carousel-btn {
    background-color: #141414; 
    border: none;
    font-size: 24px;
    color: #fff; 
    cursor: pointer;
    margin: 0 10px; 
    border-radius: 50%; 
    width: 40px; 
    height: 40px;
}

.custom-carousel-btn:focus {
    outline: white;
}

.custom-arrow-icon {
    display: inline-block;
    vertical-align: middle;
}

.footer-links a{
    color: #999999 !important;
} */
